.sideNav {  
	width: 220px;
	background-color: rgb(54, 54, 54); 
}

.sideNav i {
	margin-right: 8px;
	font-size: 20px;
}

.sideNav a {
	color: white;
}

.container {
	width: 100%;
}

.content {
	padding: 16px;
	width: 100%;
	background-color: rgb(241, 241, 241);
}