.sideNav {  
	width: 220px;
}

.sideNav i {
	margin-right: 8px;
	font-size: 20px;
}

.sideNav a {
	color: white;
}

.container {
	width: 100%;
}

.content {
	padding: 16px; 
	background-color: rgb(87, 87, 87);
}