.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
}
.devBySpan {
	font-size: 12px;
}

.devBySpan i {
	font-size: 15px;
	color: red;
}

.v-middle {
	vertical-align: middle;
}
